/* fonts */

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
         url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
@font-face {
    font-family: 'Yeseva One ', cursive;
    src: url("/fonts/YesevaOne-Regular_v2.otf");
}
@font-face {
    font-family: 'Gentium Book Basic', serif;
    src: url("/fonts/GenBasB.ttf");
    src: url("/fonts/GenBasBI.ttf");
    src: url("/fonts/GenBasI.ttf");
    src: url("/fonts/GenBasR.ttf");
  }
body{
    background: #fafafa;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Yeseva One ', cursive;
}

.row{
    position: relative;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
.col-1 {width: 8.33%; float: left; }
.col-2 {width: 16.66%;float: left;}
.col-3 {width: 25%;   float: left;}
.col-4 {width: 33.33%;float: left;}
.col-5 {width: 41.66%;float: left;}
.col-6 {width: 50%;   float: left;}
.col-7 {width: 58.33%; float: left;}
.col-8 {width: 66.66%; float: left;}
.col-9 {width: 75%;    float: left;}
.col-10{width: 83.33%;float: left;}
.col-11{width: 91.66%;float: left;}
.col-12{width: 100%; }

.global-padding{
    padding-left: 15px;
    padding-right: 15px;
}
/* Clear Floats */
.clearfix{
    clear: both;
}

/* Header */
header{
    font-family: 'Yeseva One', cursive;
    position: absolute;
    width: 100%;
    padding: 5px;
    
}
header h1{
    font-family: 'Yeseva One', cursive;
    color: rgba(255,255,255,255);
    font-size: 46px;
}

ul,ol{
    list-style: none;
}
nav{
    text-align: right;
}
nav .nav-menu{
    display: inline-block;
}
.nav-menu li{
    float: left;
}
.nav-menu li a{
    text-decoration: none;
    font-family: 'GentiumBookBasic', serif;
    font: 21px;
    font-weight: bold;
    padding: 48px 25px;
    display: block;
    border-top: 5px solid transparent;
    color: #f4f3f4;
    font-weight: 600; 
    
}
.nav-menu li a:hover{
    border-top: 5px solid  #cecabb; 
}

.nav-menu li.social-icon a{
    padding: 48px 8px;
    color: #dab33e;
}

.nav-menu li.social-icon a:hover{
    border-top: 5px solid transparent;
}

/* Section 1 */
.text-center{
    text-align: center;
}
.section-1{
    background-image: url('/images/bg-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 230px 0 150px 0;
}
.section-1 .caption h2 {
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    color: #fff;
    line-height: 100px;
    margin-bottom: 52px;
}
.section-1-btn{
    margin-top: 30px;
}
.btn{
    font-family: 'Lato';
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #999;
    padding: 14px 22px;
    display: inline-block;
    margin: 0 15px;
    border: 1px solid transparent;
}
.btn-black{
    opacity: .5;
    background: #000;
    transition: .5s  opacity ease-in-out;
    color: #fff;
}
.btn-black:hover{
    opacity: 1;
    background: #000;
    color: #fff;
}
.btn-transparent{
    border-color: #d8d2c3;
    background: #cfbb6e;
    color: #fff;
    opacity: .7;
    transition: .5s opacity ease-in-out;
}

.btn-transparent:hover{
    background: #cfbb6e;
    color: #fff;
    opacity: 1;
}

/* Section 2 : Just the right food */

.right-food{
    background-image: url('/images/Section_2_Background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.right-food-content h3{
    font-family: 'Yeseva One', cursive;
    margin-top: 77px;
    font-size: 36px;
    color: #cc9900;
}

.right-food-content article{
    font-family: 'Lato';
    margin-top: 30px;
    font-size: 16px;
    color: #4c4c4c;
    margin-bottom: 52px;
    
}

/* Section 3 : Fine Ingedients */
.float-right{
    float: right;
}
.fine-ingedients{
    background-image: url('/images/bg-ingridients.png');
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.fine-ingedients-content{
    background-color: #111;
    opacity: .7;
    color: #fff;
    padding: 80px 45px 80px 45px;
    text-align: center;
    margin: 100px 0;
}
.fine-ingedients-content h3{
    font-family: 'YesevaOne';
    color: #fff;
    font-size: 	36px;
    margin-bottom: 16px;
    font-weight: bold;
}
.fine-ingedients-content p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.fine-ingedients-content-inner{
    opacity: 1;
}
.fine-ingedients-content ul li{
    float: left;
    margin: 0 14px;
}

.fine-ingedients-content-inner ul img{
    border-radius: 50%;
    border: 5px solid #353230;
}

/* Section 4 : Menu */

.menu{
    background-image: url('/images/Menu_Background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 0 ;
}
.menu-content {
    max-width: 430px;
    margin: 0 auto;
}
.menu-content ul{
    margin: 10px 0 15px;
}
.menu-content .menu-item{
    color: #cc9900;
    font-size: 21px;
    font-weight: 600;
    float: left;
    width: 90%;
    text-align: left;
}
.menu-content .price{
    color: #cc9900;
    font-size: 21px;
    font-weight: 600;
    float: left;
    width: 10%;
    text-align: right;
}

.menu-content .menu-title{
    border-bottom: 1px solid #cc9900;
    padding: 5px 0;
    font-family: 'Lato', italic;
}
.menu-content h3{
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #cc9900;  
}
.margin-top-70{
    margin-top: 70px;
}
